@media screen and (max-width: 576px) {
    header{
        margin: 50px;
    }
    .nav-container,
    .menu-container,
    .banner-container {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      width: 50px auto 0;
    }
    .right-container{
      margin-right: 0px;
      padding:0 30px;
    }
    .right-container img {
      width: 100%;
      
  }
  .left-container {
    text-align: center;
    margin: 0px;
    padding:0 50px;

}
.follow-buttons{
  flex-direction: row;
  width: max-content;
  align-items: center;
}
.footer-menu,.terms-menu,.terms-text, .footer-icon {
  display: flex;
  flex-wrap: wrap;
}
  }

    


  @media screen and (min-width: 576px) and (max-width: 992px){
    header{
        margin: 50px;
    }
    .nav-container,
    .menu-container {
      flex-direction: column;
      gap: 30px;
      align-items: center;
      width: 100%;
    }
    .right-container{
      margin-right: 0px;
      padding:0 30px;
    }
    .right-container img {
      width: 80%;
      
  }
  .left-container {
    text-align: center;
    width: 100%;
    margin: 30px;

}
  .follow-buttons{
    flex-direction: row;
    width: max-content;
    align-items: center;
  }
  .banner-container{
    flex-direction: column-reverse;
    width: auto;
  }
  .footer-menu,.terms-menu,.terms-text, .footer-icon {
    display: flex;
    flex-wrap: wrap;
  }
    }

  